@model Konferans

@{
    ViewData["Title"] = "KatilimcilarListView";
}
<h2>@Model.Name</h2>

<table class="table">
    <tbody>
        <h3>Eğitmenler</h3>
        @if (Model.Egitmenler != null)
        {
            @foreach (var item in Model.Egitmenler)
            {
                <tr>
                    <td>
                        <div>
                            <h4>@item.Name @item.Surname</h4>
                        </div>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<table class="table">
    <tbody>
        <h3>Katılımcılar</h3>
        @if(Model.Katilimcilar != null)
        {
            @foreach (var item in Model.Katilimcilar)
            {
                <tr>
                    <td>
                        <div>
                            <h4>@item.Name @item.Surname</h4>
                        </div>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
