@model KonferansPortal.Models.Konferans

@{
    ViewData["Title"] = "KonferansMainView";
}

<h1>@Model.Name</h1>

<div>
    <ul>
        <li><a class="nav-link text-dark" asp-action="KatilimcilarListView" asp-route-id="@Model.Id">Katılımcılar</a></li>
        <li><a class="nav-link text-dark" asp-action="Tartismalar" asp-route-id="@Model.Id">Tartışmalar</a></li>
    </ul>
</div>

<div>
    @if (User.Identity.IsAuthenticated && User.HasClaim(c => c.Type == "IsEgitmen" && c.Value == "True"))
    {
        <a asp-action="PaylasimEkle" asp-route-id="@Model.Id">Paylaşım Ekle</a>
    }
    <table class="table">
        <tbody>
            @if (Model.Paylasimlar != null)
                @foreach (var item in Model.Paylasimlar)
                {
                    <tr>

                        <td>
                            <div onClick ="dosyaIndir()">
                                <h4>@item.Title</h4>
                                <h5>@item.Content</h5>
                                <h6>@item.Publisher</h6>
                                <h6>@item.Date</h6>
                            </div>
                        </td>
                    </tr>
                }
        </tbody>
    </table>
</div>
