@model dynamic

<h1>Tartismalar</h1>

<p>
    <a asp-action="CreateTartisma" asp-route-id="@Model.KonferansId">Tartışma Oluştur</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>

            <th>
                Date
            </th>
        </tr>
    </thead>
    <tbody>
    @if(Model.Tartismalar != null || Model.Tartismalar.Count != 0)
    @foreach (var item in Model.Tartismalar) {
        <tr>
            <td>
                @item.Title
            </td>
            <td>
                @item.Date
            </td>
            <td>
                <a asp-action="TartismaDetails" asp-route-konferansId="@Model.KonferansId" asp-route-id="@item.Id">Details</a> |
            </td>
        </tr>
}
    </tbody>
</table>
